[submodule "WebContent/lib/phaser"]
	path = WebContent/lib/phaser
	url = https://github.com/photonstorm/phaser
[submodule "WebContent/assets/placeholder"]
	path = WebContent/assets/placeholder
	url = https://github.com/Waog/game-placeholder-assets
